<div class="navbar d-flex">
  <img src="https://res.cloudinary.com/dwsfhweeg/image/upload/v1648639783/samples/factorial-logo_zgt2b9.svg" alt="Factorial logo" class="logo">
  <ul class='list__navbar d-flex'>
    <li><h3><%= link_to 'View all contacts', contacts_path %></h3></li>
    <li><h3><%= link_to 'Search contacts', search_path %></h3></li>
  </ul>
</div>
