// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// INDEX PAGE
#contacts, #contact-details, #contact-details-search {
  background-color: #F4F4F5;
  padding: 10px 0;
}

#contacts {
  background-image: url(https://res.cloudinary.com/dwsfhweeg/image/upload/v1648638353/samples/blue-arch-2_lptjen.png), url(https://res.cloudinary.com/dwsfhweeg/image/upload/v1648637630/samples/yellow-arch2_tr51bd.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  @media screen and (max-width: 800px) {
    background-image: none;
  }
}

.contacts {
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.contact-list {
  flex-grow: 3;
}

.add-contact {
  // @media screen and (max-width: 799px) {
  //   margin: 2%;
  // }
  @media screen and (min-width: 800px) {
    flex-grow: 1;
    // margin: 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: fit-content;
  }
}


// SHOW PAGE 
#contact-details, #contact-details-search {
  background-image: url(https://res.cloudinary.com/dwsfhweeg/image/upload/v1648638353/samples/blue-arch-2_lptjen.png);
  background-repeat: no-repeat;
  background-position: top right;
  @media screen and (max-width: 800px) {
    background-image: none;
  }
}

#contact-details-updates {
  margin-left: 2%;
}

@media only screen and (max-width: 800px) {
  .contact-details-show {
    flex-direction: column;
  }
  .contact-details-show {
    justify-content: space-between;
  }
}

.contact-details-content, .update-contact {
  margin-left: 2%;
  flex-grow: 2;
}
