// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .columns {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   @media screen and (min-width: 500px) {
//     flex-direction: column-reverse;
//   }
// }

#contacts, #contact-details {
  background-color: #F4F4F5;
  padding: 10px 0;
}

#contacts {
  background-image: url(https://res.cloudinary.com/dwsfhweeg/image/upload/v1648638353/samples/blue-arch-2_lptjen.png), url(https://res.cloudinary.com/dwsfhweeg/image/upload/v1648637630/samples/yellow-arch2_tr51bd.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}

@media only screen and (max-width: 800px) {
  .contacts {
    flex-direction: column-reverse;
  }
  .contacts {
    justify-content: space-between;
  }
}

.contact-list {
  flex-grow: 3;
}

.add-contact {
  flex-grow: 1;
  margin-left: 2%;
}

// SHOW PAGE SCSS
#contact-details {
  background-image: url(https://res.cloudinary.com/dwsfhweeg/image/upload/v1648638353/samples/blue-arch-2_lptjen.png);
  background-repeat: no-repeat;
  background-position: top right;
}

#contact-details-updates {
  margin-left: 2%;
}

.table-updates {
  table-layout: auto;
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .contact-details-show {
    flex-direction: column;
  }
  .contact-details-show {
    justify-content: space-between;
  }
}

.contact-details-content {
  margin-left: 2%;
  flex-grow: 2;
}

.update-contact {
  margin-left: 2%;
  flex-grow: 2;
}

// p.contact-details-content {
//   margin: 10%;
// }


// Want to have the form TO scroll with the page on mobile view but fixed to the top as sticky when on bigger screens (as two columns)
// @media only screen and (max-width: 800px) {
//   .add-contact {
//     // flex-grow: 1;
//     height: fit-content;
//     margin-left: 2%;
//     // position: static;
//   }
//   .add-contact {
//     flex-grow: 1;
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
//     height: auto;
//   }
// }
