// html {
//   width: fit-content;
// }

// body {
//   background-color: #fff;
//   // color: #333;
//   margin: 33px; 
// }

// body, p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px; 
// }

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px; }

.container {

}

section {
  width: 100%;
  margin: 50px 0;
  background-color: #F4F4F5;
}
///// UTILITIES /////
.d-flex {
  display: flex;
}

///// TEXT /////
// a {
//   color: #000; }

// a:visited {
//   color: #666; }

// a:hover {
//   color: #fff;
//   background-color: #000; }

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, body, p, ol, ul {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  color: #515164;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

@media screen and (min-width: 600px) {
  h1 {
    color: #25253d;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    color: #25253d;
    font-size: 30px;
    line-height: 40px;
  }
}

///// BUTTONS /////
.button--pink {
  font-size: 16px;
  line-height: 20px;
  padding: 5px 12px;
  border: none;
  background: #ff355e;
  border-radius: 10rem;
  cursor: pointer;
  text-align: center;
  color: white;
  height: 20px;
}