$pink: #ff355e;
$dark-pink: #e51943;
$darkest-grey: #25253d;
$dark-grey: #515164;
$teal: #07A2AD;
$lilac: #F4F4F5;

///// UTILITIES /////
.d-flex {
  display: flex;
}

.mt-5 {
  margin-top: 50px;
}

.m-2 {
  margin: 2%;
}

///// TEXT /////
a {
  text-decoration: none !important;
}

h1, h2, h3, h4, body, p, ol, ul {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  color: #515164;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0;
}

h1 {
  @media screen and (min-width: 600px) {
    color: #25253d;
    font-size: 40px;
    line-height: 50px;
  }
  @media screen and (max-width: 600px) {
    color: #25253d;
    font-size: 30px;
    line-height: 40px;
  }
}

.title {
  margin: 2%;
}

ol, ul {
  list-style: none;
}

///// BUTTONS /////
.button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 10rem;
  cursor: pointer;
  text-align: center;
  margin: 5px 0;
}

.button--pink {
  border: none;
  background: $pink;
  color: white;
  line-height: 20px;
  &:hover {
    background: #e51943;
  }
}

.button--pink-outline {
  border: 2px solid $pink;
  background: white;
  color: $pink;
  line-height: 18px;
  &:hover {
    background: #F4F4F5;
  }
}
